---
layout: layout.njk
ogImage: /images/sejour-plein-air.jpg | url
ogImageAlt: Photo du Séjour plein air de la Techniques en loisir du Cégep de Saint-Laurent
---
<h1>{{ title }}</h1>
<p>Accédez à l'information spécifique pour l'année de déploiement :</p>
<ul>
{% if title !== 'Séjour plein air' %}<li><a href="{{ '/sejour-plein-air/' | url }}" class="sejour-nav">Information générale</a></li>{% endif %}
{% for sejour in collections.sejours %}
<li><a href="{{ sejour.url | url }}" class="sejour-nav">{{ sejour.data.year }}</a></li>
{% endfor %}
</ul>
{{ content | safe }}