---
layout: layout.njk
title: ADTILCSL | Accueil
description: L'Association des diplômés de la Techniques de gestion et d'intervention en loisir du Cégep de Saint-Laurent...
pageURL: https://solution-loisir.github.io/ADTILCSL/
ogImage:
ogImageAlt:
---
    {%
        hero
        imgSrc="./images/hero.jpg",
        imgAlt="Hero image", 
        h1="Une association au service de ses diplômés.", 
        p="Une équipe dévouée vous offre services, accompagnement, conseils et plus encore!"
    %}
<main class="grid-12 card-section">
    {%
        card
        class="sejour-card",
        svg="./images/forest.svg",
        svgText="Séjour plein air",
        title="Séjour plein air",
        text="Le Séjour plein air a lieu à chaque année au mois d'octobre.
        c'est l'occasion pour les étudiants du cours l'Adulte le sport et le plein air
        de réaliser leurs projets.",
        link="#"
    %}
    {%
        card
        class="tools-card",
        svg="./images/tools.svg",
        svgText="Outils",
        title="Outils",
        text="Nous mettons régulièrement des outils de gestion, formations et astuces
        à votre disposition sur notre. Visitez-nous
        fréquemment afin de rester au courant!",
        link="#"
    %}
    {%
        card
        class="project-card",
        svg="./images/start-up.svg",
        svgText="Projets",
        title="Projets",
        text="Nous mettons en oeuvres des projets variés destinés à améliorer la visibilité
        et les conditions d'emploi des Techniciens en loisir d'aujourd'hui et
        de demain!",
        link="#"  
    %}
</main>