.post-layout {
    h1 {
        margin-top: 0;
    }
    article {
        padding: 1em 1.2em;
        @media(min-width: $medium) {
            width: 66%;
            margin: auto;
        }
    }
}
.blog-list {
    border: 2px dashed #000;
    border-radius: 3px;
    padding: 1em 1em;
    margin: 1.5em auto;
    width: 97%;
    @media(min-width: 500px) {
        width: 86%;
    }
    @media(min-width: 600px) {
        padding: 1em 1.5em;
        width: 76%;
    }
    @media(min-width: 700px) {
        padding: 1em 2em;
        width: 66%;
    }
    .blog-description {
        font-size: 1.8rem;
    }
}
.author-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 350 / 16 * 1em;
    margin: 1em auto;
    padding: 1em 1.5em;
    background-color: #fff;
    border-radius: 2.3px;
    img {
        width: 275px;
        border-radius: 50%;
    }
    .author-bio {
        width: 100%;
        padding: 0.6em;
        border-radius: 2.3px;
        background-color: rgba(233, 233, 233, 0.8);
    }
}
.dark-pink-theme {
    background-color: #000;
    article {
        background-color: #f1e1cb;
    }
}
.default-blog-theme {
    background-color: rgb(243, 243, 243);
    article {
        background-color: #fff;
        //box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
    }
}