.post-layout {
    article {
        padding: 1em 1em;
        max-width: 55ch;
        margin: auto;
        @media(min-width: $small) {
            padding: 1em 1.5em;
        }
        @media(min-width: $medium) {
            padding: 1em 2em;
        }
    }
}
.article-header {
    h1 {
        margin-top: 0;
        margin-bottom:1.6rem;
    }
    img {
        margin-bottom: 1.6rem;
    }
}
.article-credit {
    img {
        display: inline-block;
        width: 50px;
        border-radius: 50%;
        margin-bottom: 0;
    }
    p {
        display: inline-block;
        margin-left: 0.5rem;
        margin-bottom: 0;
        line-height: 1;
    }
}
.default-blog-theme {
    background-color: var(--white, #00a4e002);
    article {
        background-color: #fff;
    }
}
.article-tags {
    color: inherit;
    background-color: $gray80;
    margin-bottom: 1em;
    padding: 0.5rem 1rem;
    border: 1px solid $gray60;
    border-radius: $fontsize;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
    max-width: 50ch;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: auto;
    @media(min-width: $top-nav-break) {
        top: 86px;
    }
}