.post-layout {
    //background-color: #000;
}
.post-title {
    margin-top: 0;
}
.post-article {
    padding: 1em 1.2em;
    //background-color: #f1e1cb;
    @media(min-width: $medium) {
        width: 66%;
        margin: auto;
    }
}