.header-btn, .submit-search {
    margin: 5px 20px;
    padding: 0.2em 0.6em;
    border: 1px solid var(--text-color, #241c15);
    border-radius: 1em;
    background-color: var(--white, #fdfefe);
    outline: none;
    &:focus {
        color: var(--white, #fdfefe);
        background-color: var(--text-color, #241c15);
    }
}
.header-btn {
    @media(min-width: $top-nav-break) {
        display: none;
    }
}
.submit-search {
    cursor: pointer;
    &:hover {
        color: var(--white, #fdfefe);
        background-color: var(--text-color, #241c15);
    }
}
.search-close-btn {
    position: absolute;
    right: 1.6em;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white, #fdfefe);
    background-color: var(--text-color, #241c15);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    &:hover {
        color: var(--text-color, #241c15);
        background-color: var(--white, #fdfefe);
    }
}
.todo-remove-btn {
    font-size: 1em;
    background: #eeeeee;
    border: var(--white, #fdfefe);
    border-radius: 5px;
}
.todo-remove-btn:hover {
    cursor: pointer;
    background: var(--white, #fdfefe);
}