.card-section { 
    display: grid;
    margin: auto;
    max-width: $card-break;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40ch;
    min-height: 100%;
    padding: 1.5em;
    h2 {
        margin-top: 1.8rem;
        margin-bottom: 0;
    }
    @media(min-width: $card-break) {
        grid-row: 1;
    }
}
.card-svg {
    width: 50%;
    @media(min-width: $large) {
        width: 35%;
    }
}
.profils-card {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    margin: 1.8rem auto;
    padding: 1em 1.5em;
    max-width: 40ch;
    img {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    p {
        margin-top: 2rem;
    }
}