.card-section { 
    display: grid;
    margin: auto;
    max-width: $card-break;
    justify-content: center;
    gap: 6rem;
}
.card, .card-full-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30ch;
    h2 {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    p {
        align-self: flex-start;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .card-anchor {
        margin-top: 1.6rem;
    }
    object {
        width: 50%;
        pointer-events: none;
        @media(min-width: $large) {
        width: 35%;
        }
    }
    img {
        border-radius: 50%;
        width: 50%;
        margin-top: 1.6rem;
    }
    @media(min-width: $card-break) {
        grid-row: 1;
    }
}
.card-full-anchor {
    text-decoration: none;
    color: inherit;
}