.content-header {
    margin-right: 4ch;
    margin-left: 4ch;
    h1 {
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    p {
        max-width: 50ch;
        margin: 1.6rem auto;
    }
    hr {
        max-width: 75ch;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: var(--text-color, #241c15);
    }
}