.content-header {
    max-width: 50ch;
    margin-right: 2ch;
    margin-left: 2ch;
    @media(min-width: $small) {
        margin-right: auto;
        margin-left: auto; 
    }
    @media(min-width: 966px) {
        max-width: 70ch;
    }
    h1 {
        max-width: 60ch;
        margin-top: 1.6rem;
        margin-bottom: 0;
        @media(min-width: 966px) {
            text-align: center;
        }
    }
    p {
        max-width: 50ch;
        margin: 1.6rem auto;
    }
    hr {
        height: 0.5rem;
        border-radius: 1rem;
        border-color: var(--text-color, #241c15);
        background-color: var(--text-color, #241c15);
    }
    .short-title {
        display: none;
        @media(max-width: $long-title-break) {
            display: initial;
        }
    }
    .long-title {
        @media(max-width: $long-title-break) {
            display: none;
        }
    }
}