.main-footer {
    position: relative;
    color: var(--white, #fdfefe);
    background-image: linear-gradient(lighten(#241c15, 10%), var(--text-color, #241c15));
    overflow: hidden;
    & > p {
        margin-bottom: 1em;
        text-align: center;
        line-height: 0.8em;
    }
    svg {
        margin-top: -4rem;
        fill: #fdfefe;
        fill-opacity: 1;
    }
}
.social-media {
    display: flex;
    justify-content: center;
    height: 48px;
}