.main-footer {
    position: relative;
    color: var(--white, #fdfefe);
    background-image: linear-gradient(lighten(#241c15, 10%), var(--text-color, #241c15));
    overflow: hidden;
    p {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
    }
}
