.main-footer {
    color: var(--white, #fdfefe);
    background-image: linear-gradient(var(--text-color), var(--text-color));
    overflow: hidden;
    p {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
    }
}
