.search, .search-shown-with-js {
    max-width: 45ch;
    padding: 1.6em;
    margin: auto;
    background-color: var(--white, #fdfefe);
    input {
        font-size: inherit;
        width: 100%;
        border: 1px solid var(--text-color);
    }
    button {
        margin: auto;
    }
}
.search-shown-with-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 35ch;
    z-index: 11111;
    border: 1px solid var(--text-color);
    border-radius: 1em;
}