//@media breakpoints
$small: 37.5em; //600px
$top-nav-break: 50em; //800px
$medium: 55em;  //880px
$large: 75em;  //1200px
$card-break: 76.5em; //1224px
$xl: 112.5em;  //1800px

:root {
    box-sizing: border-box;
    font-size: 0.625em;
    --text-color: #241c15;
    --main-color: #00a4e042;
    --white: #00a4e002;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-family: Helvetica, system-ui, sans-serif;
    color: var(--text-color, #241c15);
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', system-ui, sans-serif;
    line-height: 1.25;
}
h1 {font-size: 6rem;}
h2 {font-size: 4.5rem;}
h3 {font-size: 3rem;}
body, button {font-size: 2rem;}
body {
    margin: 0;
    min-height: 100%;
    word-break: break-word;
    background-color: var(--white, #00a4e002);
}
p {line-height: 1.5;}
main, img, object, svg, footer, header {display: block;}
img, object, footer, header {
    max-width: 100%;
    height: auto;
}
nav ul {list-style-type: none;}
a, a:active {
    outline: none;
}
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.8rem;
    justify-items: center;
    align-items: center;
}
.shadow {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
}