:root {
    box-sizing: border-box;
    font-size: 0.625em;
    --text-color: #241c15;
    --main-color: #bce7f7;
    --white: #fdfefe;
}
//@media breakpoints
$small: 37.5em; //600px
$top-nav-break: 50em; //800px
$medium: 55em;  //880px
$large: 75em;  //1200px
$card-break: 1150px; //1224px
$xl: 112.5em;  //1800px
//Font size
$h1size: 5.5rem;
$h2size: 4rem;
$h3size: 3rem;
$fontsize: 2rem;
//Colors
$black: #241c15;
$gray20: lighten($black, 20%);
$gray40: lighten($black, 40%);
$gray60: lighten($black, 60%);
$gray80: lighten($black, 80%); 

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-family: Helvetica, system-ui, sans-serif;
    color: var(--text-color, #241c15);
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', system-ui, sans-serif;
    line-height: 1.25;
}
h1 {font-size: $h1size;}
h2 {font-size: $h2size;}
h3 {font-size: $h3size;}
body, button {font-size: $fontsize;}
body {
    margin: 0;
    min-height: 100%;
    word-break: break-word;
    background-color: var(--white, #fdfefe);
}
p {line-height: 1.5;}
main, img, object, svg, footer, header {display: block;}
img, object, footer, header {
    max-width: 100%;
    height: auto;
}
nav ul {list-style-type: none;}
nav a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
a, a:active {
    outline: none;
}
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.8rem;
    justify-items: center;
    align-items: center;
}
.shadow {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
}
.content {
    max-width: 50ch;
    margin-right: 2ch;
    margin-left: 2ch;
    @media(min-width: $small) {
        margin-right: auto;
        margin-left: auto; 
    }
}