.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 2px 0px #c0c0c0;
    @media(min-width: $top-nav-break) {
        position: sticky;
        top: 0;
    }
}
.header-btn {
    margin: 5px 20px;
    padding: 0.2em 0.6em;
    border: 1px solid var(--text-color, #241c15);
    border-radius: 1em;
    background-color: var(--white, #fdfefe);
    outline: none;
    &:focus {
        color: var(--white, #fdfefe);
        background-color: var(--text-color, #241c15);
    }
    @media(min-width: $top-nav-break) {
        display: none;
    }
}
.logo {
    display: inline-block;
    margin: 5px 20px;
    height: 0;
    padding-bottom: 1 / 2 * 100px;
}
.header__nav {
    display: none;
    @media(min-width: $top-nav-break) {
        display: block;
    }
    li {
        @media(min-width: $top-nav-break) {
            display: inline;
            margin: 6px 8px;
        }
    }
}
.display-main-nav {
    display: block;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 999;
    @media(min-width: $top-nav-break) {
        position: static;
        width: auto;
    }
    li, a {
        display: block;
        @media(min-width: $top-nav-break) {
            display: initial;
        }
    }
    a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 30%;
        border-top: 1px solid #c0c0c0;
        background-color: #ecece84d;
        @media(min-width: $top-nav-break) {
            padding: initial;
            border-top: initial;
            background-color: initial;
        }
    }
    & ul:nth-last-child(1) {
        border-bottom: 1px solid #c0c0c0;
        @media(min-width: $top-nav-break) {
            border-bottom: initial;
        }
    }
    ul {
        padding-left: 0;
        margin-top: 5em;
        @media(min-width: $top-nav-break) {
            margin: 6px 8px;
            padding-left: initial;
            margin-top: initial;
        }
    }
}