.hero {
    background-color: var(--main-color, #bce7f7);
    overflow: hidden;
}
.hero__img-container {
    height: 0;
    padding-bottom: 9 / 16 * 350px;
    grid-column: 3 /12;
    grid-row: 2;
    margin-bottom: 7rem;
    @media(min-width: $medium) {
        grid-column: 8 / 12;
        grid-row: 1;
    }
    @media(min-width: $large) {
        grid-column: 8 /12;
    }
    img {
        border-radius: 3px;
    }
}
.hero__text {
    grid-column: 3 / 12;
    grid-row: 1;
    @media(min-width: $medium) {
        grid-column: 2 / 8;
    }
    @media(min-width: $large) {
        grid-column: 3 / 8;
    }
    h1 {
        font-weight: 400;
        margin-bottom: 0;
        @media(min-width: $small) {
            font-size: 7rem;
        } 
    }
    p {
        font-size: 2.5rem;
        margin-top: 0.5em;
        @media(min-width: $small) {
            font-size: 3rem;
        } 
    }
}