.tags {
    margin-bottom: 1em;
    padding: 0.5rem 1rem;
    border-radius: $fontsize;
    text-decoration: none;
    @media(pointer: fine) {
        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        text-decoration: underline;
        @media(pointer: fine) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.article-tags {
    color: inherit;
    background-color: $gray80;
    border: 1px solid $gray60;
}
.sejour-tags {
    color: inherit;
    background-color: $bluelight10;
    border: 2px solid $bluedark40;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
    max-width: 50ch;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: auto;
    @media(min-width: $top-nav-break) {
        top: 86px;
    }
}