<div id="what-to-bring-todo-list" v-scope v-effect="save()">

  {% include "todo-list-component/form.njk" %}

  <br>
  <button @click="removeTodoStorage">Réinitialiser la liste par défault</button>
  
  <ul role="list" v-cloak>

    {% include "todo-list-component/messages.njk" %}
    <li v-for="todo in filteredTodos(item => !item.isChecked)" :key="todo.uid">
      {% include "todo-list-component/checkboxes.njk" %}
      <button @click="removeTodo(todo)" title="Supprimer" class="todo-remove-btn">❌</button>
    </li>
  </ul>

  <hr v-show="filteredTodos(item => item.isChecked).length">

  <ul role="list" v-cloak>
    <li v-for="todo in filteredTodos(item => item.isChecked)" :key="todo.uid">
      {% include "todo-list-component/checkboxes.njk" %}
    </li>
  </ul>
</div>