<header class="header">
    <a href="{{ '/' | url }}" class="logo"><img src="{{ '/images/nav-logo.png' | url }}" alt="Logo de l'ADTILCSL" width="100" height="51" /></a>
    <button class="header-btn" id="header-btn">Menu</button>
    
    <nav class="header__nav" id="main-nav">
        {% include 'partials/pages-nav.njk' %}     
    </nav>
</header>