<section class="comments">
    <h2><small>Commentaires</small></h2>
    <p><small>Participe à la conversation. Exprimes-toi! <wbr />(<a href="{{ '/conduite/' | url }}"><small>Code de conduite</small></a>)</small></p>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_CA/sdk.js#xfbml=1&version=v7.0"></script>
    <div class="fb-comments" data-width="100%"></div>
</section>