<header class="header">
        <a href="#" class="logo"><img src="./images/logo.jpg" alt="logo" /></a>
        <button class="header-btn" id="header-btn">Menu</button>
    
    
    <nav class="header__nav" id="main-nav">
        <ul class="header__nav--ul">
            <li><a href="{{ / | url }}" {% if title === 'ADTILCSL | Accueil' %}hidden{% endif %}>Accueil</a></li>
            <li><a href="{{ ./sejour-plein-air | url }}">Séjour plein air</a></li>
            <li><a href="#">Outils</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Administration</a></li>
        </ul>      
    </nav>
</header>