{% macro hero(imgSrc="", imgAlt="", h1="", p="") %}
    <section class="grid-12 hero">
            
        <section class="hero__text">
            <h1 class="hero__heading">{{ h1 }}</h1>
            <p class="hero__p">{{ p }}</p>
        </section>

        <img src="{{ imgSrc | url }}" alt="{{ imgAlt }}" class="hero__img" width="320" />

    </section>
{% endmacro %}