---
eleventyComputed:
  id: "{{ id }}"
---
<!DOCTYPE html>
<html lang="fr-CA" id="top">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="{{ '/style/index.css' | url }}" />
    <link rel="icon" type="image/png" href="#" sizes="16x16" />
    <link rel="icon" type="image/png" href="#" sizes="32x32" />
    <link rel="icon" type="image/png" href="#" sizes="96x96" />
    <script defer src="{{ '/js/index.js' | url }}"></script>
    <link rel="canonical" href="https://loisir.netlify.app{{ page.url | url }}" />
    <title>ADTILCSL | {{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ ogImage | url }}" />
    <meta property="og:image:alt" content="{{ ogImageAlt }}" />
    {{  '<link rel="preconnect" href="https://www.youtube.com" crossorigin="anonymous" />' | safe if id === 'youtube' }}
    {{ '<meta property="fb:app_id" content="1277565455782139" />' | safe if (id === 'youtube' or id === 'article') }}
</head>
<body>
    {% include 'partials/_header.njk' %}
    {% if page.url === '/' %}
    {% include 'partials/hero.njk' %}
    {% endif %}
    {{ content | safe }}
    {% include 'partials/_footer.njk' %}
</body>
</html>