---
layout: base-layout
---
<main>
    {% contentHeader
    heading = "Le blog de l'ADTILCSL",
    description = "Tu trouveras ici plusieurs articles concernant le loisir. Les auteurs sont souvent 
        des acteurs locaux qui parlent de leurs passions, leurs projets ou leurs spécialisations."
    %}
    <a href="{{ '/blog/' | url }}">#tout</a>
    {% for tag in collections.postsTags %}
    <a href="/blog/{{ tag | lower | slug }}/" class="article-tags {{ tag | lower | slug }}">#{{ tag | lower | slug }}</a>
    {% endfor %}
    {{ content | safe }}
</main>