---
layout: base-layout
id: blog-layout
---
<main>
    {% contentHeader
    heading = "Le blog de l'ADTILCSL",
    description = "Tu trouveras ici plusieurs articles concernant le loisir. Les auteurs sont souvent 
        des acteurs locaux qui parlent de leurs passions, leurs projets ou leurs spécialisations."
    %}
    <div class="tags-container">
    {% for tag in collections.postsTags %}
    {% set tagUrl %}/blog/{{ tag | lower | slug }}/{% endset %}

    <a href="/blog/{{ tag | lower | slug | url }}/" 
    class="tags article-tags {{ tag | lower | slug }}{{ ' active' if page.url === tagUrl | url }}" 
    data-id="#{{ tag | lower | slug }}" 
    data-title="ADTILCSL | Blog - {{ tag | lower | slug }}">
    #{{ tag | lower | slug }}
    </a>

    {% endfor %}
    </div>
    {{ content | safe }}

    {% for tag in collections.postsTags %}
    {% set posts = collections[tag] | reverse %}
    <template id="{{ tag | lower | slug }}">
        {% for post in posts %}
            {% set postDate %}
                {{ post.data.publishedat | timeFormat if post.data.publishedat else post.date | timeFormat }}
            {% endset %}
            {% card
            defaultClass = 'listing-card',
            title = post.data.title,
            detail = postDate,
            text = post.data.description | truncate(180),
            link = post.url | url,
            linkText = "Lire l'article!"
            %}
        {% endfor %}
    </template>
    {% endfor %}
</main>