---
layout: base-layout
---
<main>
    {% contentHeader
    heading = "Les formations de l'ADTILCSL",
    description = "Tu trouveras ici des formations offertent par des professionel-les pasionné-es du loisir."
    %}
    {{ content | safe }}
</main>