---
layout: base-layout
id: article
---
<main class="post-layout default-blog-theme">
    <article>
        <header class="article-header">
            <h1>{{ title }}</h1>
            {% img 
            input = headerImage,
            width = 400,
            alt = headerImageAlt
            %}
            <div class="article-credit">
                <img src="{{ auteur[writer].img }}" alt="Photo de l'auteur" />
                <p><small><small>
                    {{ auteur[writer].name }} - {{ page.date | timeFormat }}<br />
                    Édité le : {{ updated | timeFormat }}
                </small></small></p>
            </div>
        </header>
        {{ content | safe }}
    </article>
    <div class="return-link">
        <a href="{{ '/blog/' | url }}">⬅ Retour à la liste des articles</a>
        {% include 'partials/comments.njk' %}
    </div>
</main>