---
layout: base-layout
ogImage: /images/sejour-plein-air.jpg
ogImageAlt: Photo du Séjour plein air de la Techniques en loisir du Cégep de Saint-Laurent
id: sejour-plein-air
---
<main>
	
	{% contentHeader
	heading = "Séjour plein air",
	description = "Apprenez ce qu'est le Séjour plein air ou accédez à l'information spécifique pour l'année de déploiement."
	%}
	
	<nav>
  	
    	<ul class="tags-container">
    		<li class="sejour-tags">
      			<a href="{{ '/sejour-plein-air/' | url }}" 
      			class="tags {{ 'active' if page.url === '/sejour-plein-air/' | url }}"
      			data-id="#general"
      			data-title="ADTILCSL | Séjour plein air">
				Information générale
      			</a>
    		</li>
    		{% for sejour in collections.sejours | reverse %}
        		<li class="sejour-tags">
        			<a href="{{ sejour.url | url }}" 
        			class="tags {{ 'active' if page.url === sejour.url | url }}"
        			data-id="#y{{ sejour.data.year }}"
        			data-title="ADTILCSL | {{ sejour.data.title }}">
        			{{ sejour.data.year }}
        			</a>
        		</li>
    		{% endfor %}
    	</ul>
  	
	</nav>

		<section class="content-section content">
		
    		{{ content | safe }}

		</section>

	{% for sejour in collections.sejours | reverse %}
  		<template id="y{{ sejour.data.year }}">
		  
			<h1>Séjour {{ sejour.data.year }}</h1>

    		{{ sejour.templateContent | safe }}
		  
  		</template>
	{% endfor %}
  	<template id="general">

    	{{ collections.sejourInformationGeneral[0].templateContent | safe }}

  	</template>
	
</main>