---
layout: base-layout
ogImage: /images/sejour-plein-air.jpg
ogImageAlt: Photo du Séjour plein air de la Techniques en loisir du Cégep de Saint-Laurent
id: sejour-plein-air
---
<main>
	
	{% contentHeader
	heading = "Séjour plein air",
	description = "Apprends ce qu'est le Séjour plein air ou accède à l'information spécifique pour l'année de déploiement."
	%}
	
	<nav>
  	
    	<ul class="tags-container">
    		<li class="sejour-tags">
      			<a href="{{ '/sejour-plein-air/' | url }}" 
      			class="tags {{ 'active' if page.url === '/sejour-plein-air/' | url }}">
				Information générale
      			</a>
    		</li>
    		{% for sejour in collections.sejours | reverse %}
        		<li class="sejour-tags">
        			<a href="{{ sejour.url | url }}" 
        			class="tags {{ 'active' if page.url === sejour.url | url }}">
        			{{ sejour.data.year }}
        			</a>
        		</li>
    		{% endfor %}
    	</ul>
  	
	</nav>

		<section class="content">
		
    		{{ content | safe }}

		</section>

</main>