/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v15-latin-regular.woff2") format("woff2"), url("../fonts/lato-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato-v15-latin-italic.woff2") format("woff2"), url("../fonts/lato-v15-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v15-latin-700.woff2") format("woff2"), url("../fonts/lato-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  box-sizing: border-box;
  font-size: 0.625em;
  --text-color: #241c15;
  --main-color: #00a4e042;
  --white: #00a4e002;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: Helvetica, system-ui, sans-serif;
  color: var(--text-color, #241c15);
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", system-ui, sans-serif;
  line-height: 1.25;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

body, button {
  font-size: 2rem;
}

body {
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  background-color: var(--white, #00a4e002);
}

p {
  line-height: 1.5;
}

main, img, object, svg, footer, header {
  display: block;
}

img, object, footer, header {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style-type: none;
}

a, a:active {
  outline: none;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.8rem;
  justify-items: center;
  align-items: center;
}

.shadow {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 2px 0px #c0c0c0;
}
@media (min-width: 50em) {
  .header {
    position: sticky;
    top: 0;
  }
}

.header-btn {
  margin: 5px 20px;
  padding: 0.2em 0.6em;
}
@media (min-width: 50em) {
  .header-btn {
    display: none;
  }
}

.logo {
  display: inline-block;
  margin: 5px 20px;
  height: 0;
  padding-bottom: 50px;
}

.header__nav {
  display: none;
}
@media (min-width: 50em) {
  .header__nav {
    display: block;
  }
}
@media (min-width: 50em) {
  .header__nav li {
    display: inline;
    margin: 6px 8px;
  }
}
.header__nav a {
  text-decoration: none;
  color: var(--text-color, #241c15);
}
.header__nav a:hover {
  text-decoration: underline;
}
.header__nav a.active {
  text-decoration: underline;
}
.header__nav a.active:hover {
  text-decoration: none;
}

.display-main-nav {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 999;
}
@media (min-width: 50em) {
  .display-main-nav {
    position: static;
    width: auto;
  }
}
.display-main-nav li, .display-main-nav a {
  display: block;
}
@media (min-width: 50em) {
  .display-main-nav li, .display-main-nav a {
    display: initial;
  }
}
.display-main-nav a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 30%;
  border-top: 1px solid #c0c0c0;
  background-color: #ecece84d;
}
@media (min-width: 50em) {
  .display-main-nav a {
    padding: initial;
    border-top: initial;
    background-color: initial;
  }
}
.display-main-nav ul:nth-last-child(1) {
  border-bottom: 1px solid #c0c0c0;
}
@media (min-width: 50em) {
  .display-main-nav ul:nth-last-child(1) {
    border-bottom: initial;
  }
}
.display-main-nav ul {
  padding-left: 0;
  margin-top: 5em;
}
@media (min-width: 50em) {
  .display-main-nav ul {
    margin: 6px 8px;
    padding-left: initial;
    margin-top: initial;
  }
}

.content-header {
  margin-right: 4ch;
  margin-left: 4ch;
}
.content-header h1 {
  margin-top: 1.6rem;
  margin-bottom: 0;
}
@media (min-width: 672px) {
  .content-header h1 {
    text-align: center;
  }
}
.content-header p {
  max-width: 50ch;
  margin: 1.6rem auto;
}
.content-header hr {
  max-width: 75ch;
  height: 0.5rem;
  border-radius: 1rem;
  border-color: var(--text-color, #241c15);
  background-color: var(--text-color, #241c15);
}

.hero {
  min-height: 80vh;
  background-color: var(--main-color, #00a4e042);
  overflow: hidden;
}

.hero__img-container {
  height: 0;
  padding-bottom: 196.875px;
  grid-column: 3/12;
  grid-row: 2;
  margin-bottom: 7rem;
}
@media (min-width: 55em) {
  .hero__img-container {
    grid-column: 8/12;
    grid-row: 1;
  }
}
@media (min-width: 75em) {
  .hero__img-container {
    grid-column: 8/12;
  }
}
.hero__img-container img {
  border-radius: 3px;
}

.hero__text {
  grid-column: 3/12;
  grid-row: 1;
}
@media (min-width: 55em) {
  .hero__text {
    grid-column: 2/8;
  }
}
@media (min-width: 75em) {
  .hero__text {
    grid-column: 3/8;
  }
}
.hero__text h1 {
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 37.5em) {
  .hero__text h1 {
    font-size: 7rem;
  }
}
.hero__text p {
  font-size: 2.5rem;
  margin-top: 0.5em;
}
@media (min-width: 37.5em) {
  .hero__text p {
    font-size: 3rem;
  }
}

.post-layout article {
  padding: 1em 1em;
  max-width: 55ch;
  margin: auto;
}
@media (min-width: 37.5em) {
  .post-layout article {
    padding: 1em 1.5em;
  }
}
@media (min-width: 55em) {
  .post-layout article {
    padding: 1em 2em;
  }
}

.article-header h1 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}
.article-header img {
  margin-bottom: 1.6rem;
}

.article-credit img {
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 0;
}
.article-credit p {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
}

.default-blog-theme {
  background-color: var(--white, #00a4e002);
}
.default-blog-theme article {
  background-color: #fff;
}

.card-section {
  display: grid;
  margin: auto;
  max-width: 76.5em;
  justify-content: center;
  gap: 6rem;
}

.card, .card-full-anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30ch;
}
.card h2, .card-full-anchor h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.card p, .card-full-anchor p {
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 0;
}
.card .card-anchor, .card-full-anchor .card-anchor {
  margin-top: 1.6rem;
}
.card object, .card-full-anchor object {
  width: 50%;
  pointer-events: none;
}
@media (min-width: 75em) {
  .card object, .card-full-anchor object {
    width: 35%;
  }
}
.card img, .card-full-anchor img {
  border-radius: 50%;
  width: 50%;
  margin-top: 1.6rem;
}
@media (min-width: 76.5em) {
  .card, .card-full-anchor {
    grid-row: 1;
  }
}

.card-full-anchor {
  text-decoration: none;
  color: inherit;
}

.main-footer {
  color: white;
  background-color: #241c15;
  overflow: hidden;
}
.main-footer p {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}