/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v15-latin-regular.woff2") format("woff2"), url("../fonts/lato-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato-v15-latin-italic.woff2") format("woff2"), url("../fonts/lato-v15-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v15-latin-700.woff2") format("woff2"), url("../fonts/lato-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  box-sizing: border-box;
  font-size: 0.625em;
  --text-color: #241c15;
  --hero-background: #b1e5f8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: Helvetica, sans-serif;
  color: var(--text-color, #241c15);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", arial, sans-serif;
  line-height: 1.25;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  line-height: 1.5;
}

nav, article {
  font-size: 2rem;
}

body, button {
  font-size: 1.8rem;
}

main, img, object, svg {
  display: block;
}

img, object {
  max-width: 100%;
  height: auto;
}

a, a:active {
  outline: none;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  justify-items: center;
  align-items: center;
}

.shadow {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 2px 0px #c0c0c0;
}
@media (min-width: 50em) {
  .header {
    position: sticky;
    top: 0;
  }
}

.header-btn {
  margin: 5px 20px;
  padding: 0.2em 0.6em;
}
@media (min-width: 50em) {
  .header-btn {
    display: none;
  }
}

.logo {
  display: inline-block;
  margin: 5px 20px;
  height: 0;
  padding-bottom: 50px;
}

.header__nav {
  display: none;
}
@media (min-width: 50em) {
  .header__nav {
    display: block;
  }
}
.header__nav ul {
  list-style-type: none;
}
@media (min-width: 50em) {
  .header__nav li {
    display: inline;
    margin: 6px 8px;
  }
}
.header__nav a {
  text-decoration: none;
  color: #000;
}
.header__nav a:hover {
  text-decoration: underline;
}
.header__nav a.active {
  text-decoration: underline;
}
.header__nav a.active:hover {
  text-decoration: none;
}

.display-main-nav {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 999;
}
@media (min-width: 50em) {
  .display-main-nav {
    position: static;
    width: auto;
  }
}
.display-main-nav li, .display-main-nav a {
  display: block;
}
@media (min-width: 50em) {
  .display-main-nav li, .display-main-nav a {
    display: initial;
  }
}
.display-main-nav a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 30%;
  border-top: 1px solid #c0c0c0;
  background-color: #ecece84d;
}
@media (min-width: 50em) {
  .display-main-nav a {
    padding: initial;
    border-top: initial;
    background-color: initial;
  }
}
.display-main-nav ul:nth-last-child(1) {
  border-bottom: 1px solid #c0c0c0;
}
@media (min-width: 50em) {
  .display-main-nav ul:nth-last-child(1) {
    border-bottom: initial;
  }
}
.display-main-nav ul {
  padding-left: 0;
  margin-top: 5em;
}
@media (min-width: 50em) {
  .display-main-nav ul {
    margin: 6px 8px;
    padding-left: initial;
    margin-top: initial;
  }
}

.hero {
  min-height: 80vh;
  background-color: #7ed3ed85;
}

.hero__img {
  border-radius: 2.3px;
}

.hero__img-container {
  height: 0;
  padding-bottom: 196.875px;
  grid-column: 3/12;
  grid-row: 2;
  margin-bottom: 7rem;
}
@media (min-width: 55em) {
  .hero__img-container {
    grid-column: 8/12;
    grid-row: 1;
  }
}
@media (min-width: 75em) {
  .hero__img-container {
    grid-column: 8/12;
  }
}

.hero__text {
  grid-column: 3/12;
  grid-row: 1;
}
@media (min-width: 55em) {
  .hero__text {
    grid-column: 2/8;
  }
}
@media (min-width: 75em) {
  .hero__text {
    grid-column: 3/8;
  }
}

.hero__heading {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 37.5em) {
  .hero__heading {
    font-size: 7rem;
  }
}

.hero__p {
  font-size: 2.5rem;
  margin-top: 0.5em;
}
@media (min-width: 37.5em) {
  .hero__p {
    font-size: 3rem;
  }
}

.post-layout h1 {
  margin-top: 0;
}
.post-layout article {
  padding: 1em 1em;
  max-width: 55ch;
  margin: auto;
}
@media (min-width: 37.5em) {
  .post-layout article {
    padding: 1em 1.5em;
  }
}
@media (min-width: 55em) {
  .post-layout article {
    padding: 1em 2em;
  }
}

.blog-list {
  border: 2px dashed #000;
  border-radius: 3px;
  padding: 1em 1em;
  margin: 1.5em auto;
  max-width: 55ch;
}
@media (min-width: 600px) {
  .blog-list {
    padding: 1em 1.5em;
  }
}
@media (min-width: 700px) {
  .blog-list {
    padding: 1em 2em;
  }
}
.blog-list a {
  display: block;
  border-radius: 3px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.author-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 21.875em;
  margin: 1em auto;
  padding: 1em 1.5em;
  background-color: #e9e9e9;
  background: linear-gradient(15deg, rgba(243, 243, 243, 0.5) 0%, rgba(233, 233, 233, 0.4) 100%);
  border-radius: 2.3px;
}
.author-card img {
  width: 220px;
  border-radius: 50%;
}
.author-card .author-bio {
  width: 100%;
  padding: 0.6em;
  border-radius: 2.3px;
}

.dark-pink-theme {
  background-color: #000;
}
.dark-pink-theme article {
  background-color: #f1e1cb;
}

.default-blog-theme {
  background-color: #fff;
}
.default-blog-theme article {
  background-color: #fff;
}

.card-section {
  margin: 1.5em;
  grid-gap: 1.5em;
}
@media (min-width: 37.5em) {
  .card-section {
    margin: 2em;
    grid-gap: 2em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecece84d;
  min-height: 100%;
  padding: 1.5em;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
}
.card h1 {
  margin-top: 12px;
  margin-bottom: 0;
}
@media (min-width: 55em) {
  .card h1 {
    font-size: 3rem;
  }
}
@media (min-width: 75em) {
  .card h1 {
    font-size: 3.2rem;
  }
}

.sejour-card {
  grid-column: 1/13;
  grid-row: 1;
}
@media (min-width: 37.5em) {
  .sejour-card {
    grid-column: 2/12;
  }
}
@media (min-width: 55em) {
  .sejour-card {
    grid-column: 5/9;
  }
}

.tools-card {
  grid-column: 1/13;
  grid-row: 2;
}
@media (min-width: 37.5em) {
  .tools-card {
    grid-column: 2/12;
  }
}
@media (min-width: 55em) {
  .tools-card {
    grid-column: 1/5;
    grid-row: 1;
  }
}

.project-card {
  grid-column: 1/13;
  grid-row: 3;
}
@media (min-width: 37.5em) {
  .project-card {
    grid-column: 2/12;
  }
}
@media (min-width: 55em) {
  .project-card {
    grid-column: 9/13;
    grid-row: 1;
  }
}

.card-svg {
  width: 50%;
}
@media (min-width: 75em) {
  .card-svg {
    width: 35%;
  }
}