---
layout: base-layout
title: 404 introuvable
eleventyExcludeFromCollections: true
permalink: 404.html
---
<h1 style="text-align:center;">Impossible de trouver cette page, désolé.</h1>
<object type="image/svg+xml" data="/images/404.svg">404</object>