---
layout: base-layout
title: 404 introuvable
eleventyExcludeFromCollections: true
permalink: 404.html
---
<main style="min-height:700px;">
    <div class="fourofour">
        <h1>Impossible de trouver cette page, désolé.</h1>
        <p>Vous pouvez : </p>
        <ol>
            <li>Retourner à la page précédente en utilisant le bouton « Retour » de votre navigateur;</li>
            <li>Utiliser les liens de navigation dans le menu;</li>
            <li>Utiliser le liens de recherche dans le menu.</li>
        </ol>
    </div>
    <object type="image/svg+xml" data="/images/404.svg">404</object>
</main>