---
layout: base-layout
title: Administration
description:
ogImage:
ogImageAlt:
date: 2019-07-29
tags: pages
---
<main>
    <div class="profils-card">
        <img src="{{ profils.mathieuhuot.img }}" alt="Image de l'auteur" />
        <h2>{{ profils.mathieuhuot.name }}</h2>
        <p>{{ profils.mathieuhuot.bio }}</p>
    </div>
</main>