---
layout: base-layout
title: Administration
description:
ogImage:
ogImageAlt:
date: 2019-07-29
tags: pages
---
<main>
    {% contentHeader
    heading = "Conseil d'administration",
    description = "Voici les membres du conseil d'administration de l'Association des diplômé-es
     de la Techniques en gestion et intervention en loisir du Cégep de Saint-Laurent."
    %}
    <section class="card-section">
    {% for person in ca %}
    {% card
    cardClass = 'admin-card',
    svg = '../images/kidaha-01.svg',
    img = person.img | url,
    alt = person.name,
    title = person.name,
    detail = person.ca,
    text = person.bio
    %}
    {% endfor %}
    </section>
</main>