---
layout: base-layout
tags: 
  - articles
  - blog-vidéo
id: blogYoutube
pagination:
  data: blogYoutube.items
  size: 1
  alias: video
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ video.snippet.title }}"
  description: "{{ video.snippet.description }}"
  publishedat: "{{ video.snippet.publishedAt }}"
permalink: "blog/posts/{{ video.snippet.title | textFormat }}/"
---
<main class="post-layout default-blog-theme">
    <article>
        {% include "partials/video-and-info.njk" %}
        <br />
        <a href="{{ '/blog/' | url }}">⬅ Retour à la liste des articles</a>
        {% include 'partials/comments.njk' %}
    </article>
</main>