---
layout: base-layout
title: Blog
description: Blog de l'Association des diplômés en loisir du Cégep de Saint-Laurent
ogImage:
ogImageAlt:
date: 2019-07-22
tags: pages
---
{% for post in collections.posts %}
<div class="blog-list">
<h1>{{ post.data.title }}</h1>
<p><small>Publié le : {{ post.date | timeFormat }}</small></p>
<p class="blog-description">{{ post.data.description }}..</p>
<a href="{{ post.url | url }}">Lire</a>
</div>
{% endfor %}