---
layout: base-layout
tags: blogVidéo
id: blogYoutube
pagination:
  data: blogYoutube.items
  size: 1
  alias: video
  addAllPagesToCollections: true
eleventyComputed:
  title: Formations {{ video.snippet.title }}
  description: "{{ video.snippet.description }}"
  publishedat: "{{ video.snippet.publishedAt }}"
permalink: "blog/posts/{{ video.snippet.title | textFormat | slug }}/"
---
<main class="post-layout default-blog-theme">
    <article>
        <header class="article-header">
            <h1>{{ video.snippet.title }}</h1>
            <p><small>{{ video.snippet.publishedAt | timeFormat }}</small></p>
        </header>
        <div class="youtube">
            <iframe src="https://www.youtube.com/embed/{{ video.snippet.resourceId.videoId }}?rel=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>{{ video.snippet.description }}</p>
        <br />
        <a href="{{ '/blog/' | url }}">⬅ Retour à la liste des articles</a>
        {% include 'partials/comments.njk' %}
    </article>
</main>