---
layout: blog-layout
title: Blog
description: Blog de l'Association des diplômés en loisir du Cégep de Saint-Laurent.
ogImage:
ogImageAlt:
date: 2019-07-22
tags: pages
pagination:
  data: collections.articles
  size: 9
  alias: posts
  reverse: true
permalink: blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html
---
<section class="listing-section">
    {% for post in posts %}
        {% card
        defaultClass = 'listing-card',
        title = post.data.title,
        detail = post.date | timeFormat,
        text = post.data.description | truncate(180),
        link = post.url | url,
        linkText = "Lire l'article!"
        %}
    {% endfor %}
</section>