---
layout: base-layout
tags: formationVidéo
id: formationYoutube
pagination:
  data: formationYoutube.items
  size: 1
  alias: video
  addAllPagesToCollections: true
eleventyComputed:
  title: Formation {{ video.snippet.title }}
  description: "{{ video.snippet.description }}"
  publishedat: "{{ video.snippet.publishedAt }}"
permalink: "/formations/{{ video.snippet.title | textFormat | slug }}/"
---
<main class="post-layout default-blog-theme">
    <article>
        {% include "partials/video-and-info.njk" %}
        <br />
        <a href="{{ '/formations/' | url }}">⬅ Retour à la liste des formations</a>
        {% include 'partials/comments.njk' %}
    </article>
</main>
