---
layout: base-layout
tags: formationVidéo
id: formationYoutube
pagination:
  data: formationYoutube.items
  size: 1
  alias: video
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ video.snippet.title }}"
  description: "{{ video.snippet.description }}"
  publishedat: "{{ video.snippet.publishedAt }}"
permalink: "/formations/{{ video.snippet.title | textFormat }}/"
---
<main class="post-layout default-blog-theme">
    <article>
        {% include "partials/video-and-info.njk" %}
        {% from "partials/article-footer.njk" import articleFooter %}
        {{ articleFooter('/formations/', '⬅ Retour à la liste des formations') }}
    </article>
</main>
