---
layout: base-layout
title: Accueil
description: L'Association des diplômés de la Techniques de gestion et d'intervention en loisir du Cégep de Saint-Laurent...
ogImage:
ogImageAlt:
date: 2019-07-01
tags: pages
---
{# Hero container #}
{% include 'partials/hero.njk' %}
{# End of Hero container #}
<main>
<section class="card-section">
    {%
        card
        cardClass="sejour-card",
        svg="./images/forest.svg",
        svgText="Séjour plein air",
        title="Séjour plein air",
        text="Le Séjour plein air a lieu à chaque année au mois d'octobre.
        c'est l'occasion pour les étudiants du cours l'Adulte le sport et le plein air
        de réaliser leurs projets.",
        link=('/sejour-plein-air/' | url)
    %}
    {%
        card
        cardClass="formations-card",
        svg="./images/tools.svg",
        svgText="Formations",
        title="Formations",
        text="Nous mettons régulièrement des outils de gestion, formations et astuces
        à votre disposition sur notre. Visitez-nous
        fréquemment afin de rester au courant!",
        link=('/formations/' | url)
    %}
    {%
        card
        cardClass="blog-card",
        svg="./images/start-up.svg",
        svgText="Blog",
        title="Blog",
        text="Nous discutons sur notre blog des projets variés destinés à améliorer la visibilité
        et les conditions d'emploi des Techniciens en loisir d'aujourd'hui et
        de demain!",
        link=('/blog/' | url),
        linkText="Accédez aux articles"  
    %}
</section>
</main>