---
layout: blog-layout
title: Post tag page
pagination:
  data: collections.postsTags
  size: 1
  alias: tag
addAllPagesToCollections: true
permalink: "blog/{{ tag | lower | slug }}/"
---
{% set posts = collections[tag] %}

<section class="card-section">
    {% for post in posts %}
        {% card
        title = post.data.title,
        detail = post.date | timeFormat,
        text = post.data.description,
        link = post.url | url,
        linkText = "Lire l'article!"
        %}
    {% endfor %}
</section>