---
layout: blog-layout
title: Tagged Blog
pagination:
  data: collections.postsTags
  size: 1
  alias: tag
addAllPagesToCollections: true
permalink: blog/{{ tag | lower | slug }}/
---
{% set posts = collections[tag] | reverse %}

<section class="listing-section">
    {% for post in posts %}
        {% card
        defaultClass = 'listing-card',
        title = post.data.title,
        detail = post.date | timeFormat,
        text = post.data.description,
        link = post.url | url,
        linkText = "Lire l'article!"
        %}
    {% endfor %}
</section>